@page "{id:int}"
@model Lojistik.Pages.Musteriler.DeleteModel
@{
    ViewData["Title"] = "Müşteri Sil";
}

<h2>Müşteri Sil</h2>
<hr />

<h5>Bu kaydı silmek istediğinize emin misiniz?</h5>

<dl class="row">
    <dt class="col-sm-2">Müşteri Adı</dt>
    <dd class="col-sm-10">@Model.Musteri.MusteriAdi</dd>

    <dt class="col-sm-2">Ülke</dt>
    <dd class="col-sm-10">@Model.Musteri.Ulke?.UlkeAdi</dd>

    <dt class="col-sm-2">Şehir</dt>
    <dd class="col-sm-10">@Model.Musteri.Sehir?.SehirAdi</dd>

    <dt class="col-sm-2">Telefon</dt>
    <dd class="col-sm-10">@Model.Musteri.Telefon</dd>

    <dt class="col-sm-2">E-posta</dt>
    <dd class="col-sm-10">@Model.Musteri.Email</dd>
</dl>

<form method="post">
    <input type="hidden" asp-for="Musteri.MusteriID" />
    <button type="submit" class="btn btn-danger btn-sm me-1">Sil</button>
    <a asp-page="./Index" class="btn btn-secondary btn-sm">Vazgeç</a>
</form>
